@import "tailwindcss";

*{
  scroll-behavior: smooth;
}

body {
  background-color: #111;
  color: rgb(177, 177, 177);
  font-family: 'Times New Roman', Times, serif;
}

.rotate {
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* Custom scrollbar */
::-webkit-scrollbar {
  width: 0.5rem; /* w-2 = 0.5rem */
}

::-webkit-scrollbar-track {
  background-color: #27272a; /* bg-zinc-800 */
}

::-webkit-scrollbar-thumb {
  background-color: #52525b; /* bg-zinc-600 */
  border-radius: 9999px;     /* rounded-full */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #71717a; /* hover:bg-zinc-500 */
}
